p { 
    padding:15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: block;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #232F34;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #232F34;
    color: white;
  }