
.flex-container {
    display: flex;
    align-items: stretch;
    padding:13px 0px 0px 0px;
}

.menu-hamburger { 
    flex-grow: 0 0 20px; 
    width: 60px;
}

.mat-primary {
    background: #344955;
    color: #fff;
}

.sideNavigation {
    width: 250px;
    background: #4A6572;
    color: #fff;
    padding:10px 0px;
}
